/*.container {*/
/*    margin-right: 400px;*/
/*}*/
.inliner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 100px;
}
.card {
    border: black 1px solid;
    margin: 35px;
    min-width: 400px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    /*flex-wrap: nowrap;*/
}
.inliner {
    height: 300px;
}
.title {
    font-size: 32px;
}